.App {
  text-align: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #0089ad;
  color: #fff;
  padding: 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.logo-image-feed {
  width: 95px;
  margin-left: 380px;
}

.profile-icon {
  width: 60px;
}

.icon {
  margin-left: 40px;
  width: 40px;
  height: 50px;
}

.profile-icon {
  margin-left: 650px;
}

.envelope-icon {
  margin-right: 40px;
  margin-top: 10px;
}
