.App {
  text-align: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #0089ad;
  color: #fff;
  height: 40px;
}

/* .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .nav-container {
  display: flex;
  justify-content: space-between;
} */

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  margin-left: auto; /* This will push the input to the right */
  margin-right: 15px; /* Add additional margin if needed */
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: auto; /* This will push the search container to the right */
  margin-right: 15px; /* Add additional margin if needed */
}
