.App {
  text-align: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: whitesmoke;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image-create-profile {
  width: 95px;
  margin-left: 670px;
}
