.App {
  text-align: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: whitesmoke;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image-feed {
  width: 95px;
  margin-left: 660px;
}

.search-container {
  display: flex;
  align-items: center;
  position: absolute;
}

.search-container input {
  margin-right: 10px;
}
