.App {
  text-align: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #0089ad;
  color: #fff;
  padding: 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  font-weight: bold;
  margin-left: 650px;
  padding-top: 15px;
}

.nav-links li {
  margin-right: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.logo {
  font-size: 45px;
  margin-left: 30px;
  font-weight: bold;
}

/* .logo-image {
  width: 95px;
} */
